body {
  min-width: 500px;
  font-size: 100%;
  padding: 1em 1em 0.5em 1em; 
  background-color: #ececec;
}

#description {
  height: 280px;
}

form input, form textarea {
  background-color: whitesmoke;
}

.content aside {
  padding: 0.3em 1em;
  border-radius: 3px;
  font-size: 1.2em;
  color: #fff;
}

.content aside a {
  color: #fff;
}

.content aside.info {
  background-color: #4d85d1;
}

.content aside.success {
  background-color: #5aba59;
}

.content aside.error {
  background-color: #df2d4f;
}

button.pure-button-primary {
  background-color: #6cad05;
}
header img {
  width: 20%;
  margin-bottom: 0.5em;
}

.content {
  margin-top: 2em;
}